.personTitle {
	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		@media (max-width: 768px) {
			max-width: 350px;
			width: 100%;
		}

		@media (max-width: 576px) {
			max-width: none;
		}
	}
}
