.personTitle {
	&Wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 16px;

		& > h5 {
			margin-bottom: 0;
		}

		@media (max-width: 768px) {
			max-width: 380px;
			width: 100%;
		}

		@media (max-width: 576px) {
			max-width: none;
		}
	}
}
